# Maven output directories
/target
/jlinfro-core/target
/jlinfro-javafx/target
/jlinfro-javafx-sample/target
/jlinfro-swing/target
/jlinfro-swing-sample/target

# Idea files
**/*.ipr
**/*.iml
**/*.iws

